<div class="List container ">
    <div class="row ">
      <div class="card col m-4 red" style="width: 18rem;">
        <img src="https://static.tildacdn.com/tild6333-3634-4561-b132-383361313237/Group_125.png"
          class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Вы когда-нибудь ели настоящий хлеб?</h5>
          <p class="card-text">Настоящий хлеб это столь нечто особенное, что каждый человек должен попробывать это </p>
          <a href="#" class="btn btn-primary" style="background-color: brown; border-color: brown;">Хотели бы Вы купить
            настоящий хлеб?</a>
        </div>
      </div>
      <div class="card col m-4" style="width: 18rem;">
        <img src="https://static.tildacdn.com/tild6333-3634-4561-b132-383361313237/Group_125.png"
          class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Вы когда-нибудь ели настоящий хлеб?</h5>
          <p class="card-text">Настоящий хлеб это столь нечто особенное, что каждый человек должен попробывать это </p>
          <a href="#" class="btn btn-primary" style="background-color: brown; border-color: brown;">Хотели бы Вы купить
            настоящий хлеб?</a>
        </div>
      </div>
      <div class="card col m-4" style="width: 18rem;">
        <img src="https://static.tildacdn.com/tild6333-3634-4561-b132-383361313237/Group_125.png"
          class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Вы когда-нибудь ели настоящий хлеб?</h5>
          <p class="card-text">Настоящий хлеб это столь нечто особенное, что каждый человек должен попробывать это </p>
          <a href="#" class="btn btn-primary" style="background-color: brown; border-color: brown;">Хотели бы Вы купить
            настоящий хлеб?</a>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="card col m-4" style="width: 18rem;">
        <img src="https://static.tildacdn.com/tild6333-3634-4561-b132-383361313237/Group_125.png"
          class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Вы когда-нибудь ели настоящий хлеб?</h5>
          <p class="card-text">Настоящий хлеб это столь нечто особенное, что каждый человек должен попробывать это </p>
          <a href="#" class="btn btn-primary" style="background-color: brown; border-color: brown;">Хотели бы Вы купить
            настоящий хлеб?</a>
        </div>
      </div>
      <div class="card col m-4" style="width: 18rem;">
        <img src="https://static.tildacdn.com/tild6333-3634-4561-b132-383361313237/Group_125.png"
          class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Вы когда-нибудь ели настоящий хлеб?</h5>
          <p class="card-text">Настоящий хлеб это столь нечто особенное, что каждый человек должен попробывать это </p>
          <a href="#" class="btn btn-primary" style="background-color: brown; border-color: brown;">Хотели бы Вы купить
            настоящий хлеб?</a>
        </div>
      </div>
      <div class="card col m-4" style="width: 18rem;">
        <img src="https://static.tildacdn.com/tild6333-3634-4561-b132-383361313237/Group_125.png"
          class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Вы когда-нибудь ели настоящий хлеб?</h5>
          <p class="card-text">Настоящий хлеб это столь нечто особенное, что каждый человек должен попробывать это </p>
          <a href="#" class="btn btn-primary" style="background-color: brown; border-color: brown;">Хотели бы Вы купить
            настоящий хлеб?</a>
        </div>
      </div>
    </div>

  </div>